 DataFrame Operations and Manipulation

Code: How would you filter a DataFrame to include only rows where the value in a column 'A' is greater than 50?
Theory: Explain the use of loc and iloc in pandas.

In [2]:
import pandas as pd

data = {'A': [10, 20, 60, 70], 'B': [1, 2, 3, 4]}
df = pd.DataFrame(data)

filtered_df = df[df['A'] > 50]

print(filtered_df)

    A  B
2  60  3
3  70  4

Theory: loc is used for label-based indexing, while iloc is used for integer-based indexing. loc allows selection by row and column labels, and iloc allows selection by row and column positions.

Handling Missing Data

In [3]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, 2, 3, np.nan]
}
df = pd.DataFrame(data)

# drop
df_dropped = df.dropna()

# Fill missing values
df_filled = df.fillna(0)

# Fill missing values using forward fill
df_ffill = df.fillna(method='ffill')

print("Original DataFrame:")
print(df)
print("\nDataFrame with rows dropped:")
print(df_dropped)
print("\nDataFrame with missing values filled with 0:")
print(df_filled)
print("\nDataFrame with forward fill:")
print(df_ffill)

Original DataFrame:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN

DataFrame with rows dropped:
     A    B    C
1  2.0  2.0  2.0

DataFrame with missing values filled with 0:
     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  3.0
3  4.0  4.0  0.0

DataFrame with forward fill:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  2.0  3.0  3.0
3  4.0  4.0  3.0

<ipython-input-3-68a381eabcdf>:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df.fillna(method='ffill')

 GroupBy and Aggregation

In [4]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the sum of 'Value'
grouped = df.groupby('Category').agg({'Value': 'sum'})

print("Grouped DataFrame with Sum Aggregation:")
print(grouped)

Grouped DataFrame with Sum Aggregation:
          Value
Category
A            90
B            60

Merging DataFrames

In [5]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [85, 90, 75]
})

# Merge DataFrames on 'ID'
merged_df = pd.merge(df1, df2, on='ID', how='inner')  # 'inner' join by default

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   ID   Name  Score
0   1  Alice     85
1   2    Bob     90

***Pivot Tables***

In [6]:
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-01', '2024-01-02'],
    'Product': ['A', 'A', 'B', 'B'],
    'Sales': [100, 200, 150, 250]
}
df = pd.DataFrame(data)

# Create a pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc='sum')

print("Pivot Table:")
print(pivot_table)

Pivot Table:
Product       A    B
Date
2024-01-01  100  150
2024-01-02  200  250