# 1. Reverse a Number

In [3]:
#easy way/method

n = 12345
a = int(str(n)[::-1])
print(a)

#we used (slicing)

54321

In [4]:
def a(n):
    b = 0
    while n > 0: # Continue the loop as long as n is greater than 0
        digit = n%10 # Get the last digit of n by taking the remainder when n is divided by 10
        b = b * 10 + digit # Shift the digits of reversed_num left and add the new digit
        n = n // 10  # Remove the last digit from n by performing integer division by 10
    return b

print(a(123456789))

987654321

# 2. Find Common Letters from Two Words

#Two different method

In [1]:
a = input("enter 1st word:")

b = input("enter 2nd word:")

common = set(a) & set(b)

print("Letter : ",common)

enter 1st word:Shubham
enter 2nd word:Sunny
Letter :  {'S', 'u'}

In [2]:
a = "apple"
b = "sample"
common = set(a) & set(b)
print(common)

{'e', 'a', 'p', 'l'}

#  3. Find the Length of a String

In [6]:
s = "Shubham"
Length = len(s)
print(Length)

7

In [1]:
def length(a):
    return len(a)

print(length("shubham"))

7

In [2]:
a = input("enter:")
print(len(a))

enter:Shubham Choudhary
17

# 4. Find the Length of Common Letters between Two Words

In [3]:
a = input("enter 1st word:")

b = input("enter 2nd word:")

common = len(set(a) & set(b))

print("Letter : ",common)

enter 1st word:Shubham
enter 2nd word:Sunny
Letter :  2

In [4]:
def common_letter(a,b):
    return len(set(a) & set(b))

print(common_letter("apple" ,"samplee"))

4

# 5. Add the Last Two Digits of a Number

In [10]:
a = ('255', '659', '483', '621', '759')

# Convert each string in the tuple to an integer, and then find the sum of the last two digits
b = [((int(x) % 10) + ((int(x) // 10) % 10)) for x in a]

print(b)

[10, 14, 11, 3, 14]

In [12]:
a = 12389
b = (a % 10) + ((a // 10) % 10)
print(b)

17

In [15]:
def last_two (n):
    
    b = n%10
    
    c = (n//10)%10
    
    return b + c

print(last_two(12456695))

14

# 6. For Loop Example

In [18]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

# 7. Question on Tuples

In [20]:
def tuple_exp():
    t = (1,9,14,8,36)
    return t[1:4]

print(tuple_exp())

(9, 14, 8)

In [21]:
def tuple_exp():
    t = (1,9,14,8,36)
    return t[::-4]

print(tuple_exp())

(36, 1)

In [22]:
def tuple_exp():
    t = (1,9,14,8,36)
    return t[1::]

print(tuple_exp())

(9, 14, 8, 36)

In [23]:
def tuple_exp():
    t = (1,9,14,8,36)
    return t[3::]

print(tuple_exp())

(8, 36)

# 8. Difference between List, Set, and Tuple

In [24]:
def coll():
    alist = [1,2,3,4]
    bstring = {1,2,3,4}
    ctuple = (1,2,3,4)
    return alist , bstring , ctuple

print(coll())

([1, 2, 3, 4], {1, 2, 3, 4}, (1, 2, 3, 4))

# 9. Reverse a Name

In [29]:
def rever_name(a):
    return a [::-1]

print(rever_name("shubham is Best"))

tseB si mahbuhs

In [28]:
a = input("enter name:")
b = a[::-1]
print(b)

enter name:Shubham
mahbuhS

# 10. Print Vowels in a Name

In [33]:
a = input("enter name:")
vowels = "aeiou"
b = [char for char in a if char.lower() in vowels]

print(b)

enter name:shubham is the best
['u', 'a', 'i', 'e', 'e']

# 11. Find the Factorial of a Number

In [34]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(5))

120

In [37]:
n = 7
factorial = 1

for i in range(1,n+1):
    factorial *= i

print(factorial)

5040

# 12. Check if a Number is Prime

In [38]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i == 0:
            return False
    return True

print(is_prime(11))

True